.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 30px;
}
.App-icon {
  margin: 20px 0 20px 0;
}

.App-link {
  color: #61dafb;
}

.FormContainer {
  padding: 20px 30px 20px 0;
}
.DateContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding-bottom: 20px; */
}
.inputContainer {
  /* padding-bottom: 20px; */
}

.Input {
  margin-left: 10px;
  width: 100%;
}
.DateInput {
  margin: 0 10px 0 10px;
  width: 90%;
}
.dropdown {
  width: 100%;
  margin-left: 10px;
}

.inputHeader {
  font-size: small;
  margin-bottom: 0;
  text-align: left;
  padding-left: 10px;
}
.submit {
  margin-top: 20px;
  width: 50%;
  align-self: flex-start;
  display: flex;
  margin-left: 10px;
  padding: 10px;
  background-color: #61dafb;
  border: none;
}

.table {
  padding: 0 30px 0 0;
  width: 100%;
}
.TableContainer {
  padding-top: 30px;
  width: 100%;
}

tr {
  height: 50px;
}

td {
  border-bottom: grey solid 0.5px;
}

td > p {
  margin: 0;
  margin-bottom: 4px;
  text-align: left;
}
.tableHeader {
  background-color: #282c3470;
}

.reportID {
  font-size: smaller;
  color: grey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
